################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarketData/bin/Debug/net8.0
/MarketData/obj
/nuget
